.welcome-page {
 margin-top: 8em;
 display: flex;
 justify-content: center;
}


.welcome-page-text {
    width: 15em;
    text-align: center;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    font-size: 36px;
    font-weight: 700;    
}